<head><style>body {color:#00ff00; background-color:#000000} table{border-spacing: 15px}</style></head><body>
<table><tr>
<td valign="top"><pre>
-- EDIT --
i   insert [wor|_d] (I to BOL)
a   append [word|_] (A to EOL)
o   open a new line [A+\n] (O inv)
J   combile lines (delete \n)

d&lt;motion&gt;   delete (dd line, D=d$)
d/here&lt;Enter&gt;  delete to "here"
S = ddi

x   extract char
s = xi

r   replace char (R many)
c&lt;motion&gt;   change (cc line, C=c$)

ci}  change { inner }
daw  delete outer Word

y&lt;motion&gt;   yank (copy) (yy line)
p   paste [_+&lt;buffer&gt;] (P inv)

Ctrl+a|x  increment|decrement

~   invert case (char or visual)
gU&lt;motion&gt;  uppercase (u,~)

&gt;&gt;, &lt;&lt;  shift line
==      auto-indent

.   repeat
u   undo (U the whole line)
Ctrl+r  redo

g&lt;edit&gt;  persist cursor pos


-- SEARCH --
/&lt;pattern&gt; | n -&gt;, N &lt;-
?&lt;pattern&gt; | n &lt;-, N -&gt; 
/&lt;pattern&gt;\c    ignore case
:set ic         always ignore case


-- VISUAL --
v    VISUAL mode
vep  replace next word to buffer content
:'&lt;,'&gt;w     save slected
I    prepend to each block line
o    switch cursor
</pre></td>





<td valign="top"><pre>
-- MOTIONS --
e&gt;|   w&gt;|
  |  fb&gt;|
  | tb&gt;||
aaa     bbb
  ||&lt;Ta |
  |&lt;Fa  |
  |&lt;ge  |&lt;b

w   word (W greedy)
$   EOL
^   content BOL (0 true BOL)
%   matching bracket
)   sentence
}   para

m&lt;mark&gt;  bookmark
`&lt;mark&gt;  jump to &lt;mark&gt; (' to BOL)
'.  last edited line

``  undo jump
Ctrl+o  previous jump


-- NAVIGATION --
Ctrl+g      status
&lt;line&gt;G     go to line
g&lt;motion&gt;   go in visible
2$|2+       EOL|BOL of the next line
G           go to EOF
gg          go to BOF
Ctrl+i      return
Ctrl+o      forward
&lt;0-100&gt;%    jump to percent

Ctrl+e|y    move view pane
zt|zz|zb    cursor line -&gt; top|mid|bot

Ctrl+d|u    move half-page
Ctrl+b|f    move page
H|M|L   cursor -&gt; high|mid|low

;   repeat in same direction
,   repeat in reverse direction


-- WINDOWS --
:[v]split &lt;file&gt;
Ctrl+W W|hjkl   navigate (HJKL move)
Ctrl+W [n]+-<>    size

</pre></td>




<td valign="top"><pre>
-- COMMANDS --
:s/&lt;old&gt;/&lt;new&gt;      sub. 1st in line
:s/&lt;old&gt;/&lt;new&gt;/g    globally in line
:%s     sub. in all lines of file
/gc     ask before sub.
/&lt;pattern&gt;/d    delete

:r &lt;file&gt;    retrieve file
:!&lt;command&gt;  execute in shell
Ctrl+R&lt;reg&gt;  paste
Ctrl+R Ctrl+W      retrieve current word
Ctrl+N      autocompletion

:x = :wq
ZZ = :x
ZQ = :q!

Esc = Ctrl+[
Ctrl+o  Esc for 1 op.
Ctrl+L  redraw
&lt;INSERT&gt; Ctrl+r,=  calculator


-- REGISTERS --
:reg    registers
:echo   @&lt;reg&gt;
&lt;reg&gt;p  paste from reg

"_  black hole
"/  search pattern
"0  yank
"1  big delete ("2..9 stack)
"-      small delete
"+|"*   clipboard
"a..z   user space ("A..Z append)

q#  record macros #
@#  playback macros # (@@ repeat)


-- MISC --
:so .vimrc
:set st=4  tab size
:set et    indent with spaces
:set nu    line numbers
:set hls   highlight all found
:set is    highlight current found
:set paste/nopaste

</pre></td>
</tr></table>
</body>
